html {
    font-family: "Fjalla One";
}

a {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style-type: none;
}

body {
    margin: 0px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vw;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 100%;
}

.header-links {
    display: flex;
    gap: 4vw;
}

.header-href {
    color: black;
    transition: 0.3s;
}

.header-href:hover {
    color: green;
    text-decoration: underline;
}

.landing-page-container {
    flex-direction: column;
    display: flex;
    height: 60vh;
}

.black-background-image {
    display: flex;
    width: 100%;
    background-color: black;
}

.landing-page-image-big {
    opacity: 40%;
    height: 100%;
    max-width: 100%;
    display: block;
}

.landing-page-image-small {
    opacity: 40%;
    height: 100%;
    max-width: 100%;
    display: none;
}

.landing-page-introductie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25vw;
    color: white;
    z-index: 1000;
}

.landing-page-introductie h1 {
    font-size: 6vw;
    margin: 0px;
}

.landing-page-introductie h2 {
    font-size: 2vw;
    font-weight: 100;
}

.landing-page-introductie a {
    color: black;
    font-family: Arial;
    font-size: 1.5vh;
    display: flex;
    background: #00ff08;
    background: linear-gradient(90deg, rgba(0, 255, 8, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 0, 0, 1) 100%);
    border: none;
    padding: 1.2vh 2.4vh;
    border-radius: 2vh;
    transition: 0.2s;
}

.landing-page-introductie a:hover {
    box-shadow: 0px 0px 10px white;
    padding: 2vh 3.5vh;
    border-radius: 4vh;
}

/**/

.over-ons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.over-ons-introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

.over-ons-title {
    font-size: 5vh;
    color: green;
}

.over-ons-paragraph {
    margin: 0px;
    color: gray;
    font-size: 3vh;
    max-width: 1000px;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.over-ons-blokje-container {
    display: flex;
    gap: 50px;
}

.over-ons-icon-colour-green {
    display: flex;
    background-color: green;
    padding: 10px;
    border-radius: 100px;
}

.over-ons-icon-colour-red {
    display: flex;
    background-color: #BA0F00;
    padding: 10px;
    border-radius: 100px;
}

.over-ons-icon-colour-yellow {
    display: flex;
    background-color: #CCB906;
    padding: 10px;
    border-radius: 100px;
}

.over-ons-blokje {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0px 4px 10px #C4C4C4;
}

.lc:hover {
    padding: 15px;
    box-shadow: 0px 0px 10px green;
}

.vh:hover {
    padding: 15px;
    box-shadow: 0px 0px 10px #BA0F00;
}

.ic:hover {
    padding: 15px;
    box-shadow: 0px 0px 10px #CCB906;
}

.over-ons-blokje p {
    max-width: 400px;
}

/**/

.populaire-bestemmingen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.populaire-bestemmingen-introduction-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

.populaire-bestemmingen-images-container {
    display: flex;
    justify-content: center;
    gap: 67px;
}

.populaire-bestemmingen-image {
    height: 400px;
    border-radius: 2vh;
    filter: brightness(70%);
}

.populaire-bestemmingen-link-button {
    color: black;
    font-family: Arial;
    display: block;
    background: #00ff08;
    background: linear-gradient(90deg, rgba(0, 255, 8, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 0, 0, 1) 100%);
    border: none;
    padding: 1.2vh 2.4vh;
    border-radius: 2vh;
    transition: 0.2s;
}

.image-text {
    margin-top: -140px;
    padding: 10px;
    color: white;
    font-size: 2.5vh;
    filter: brightness(100%);
}

.populaire-bestemmingen-link-button:hover {
    box-shadow: 0px 0px 10px white;
    padding: 2vh 3.5vh;
    border-radius: 4vh;
}

/**/

.footer-container {
    background-color: #2C7344;
    padding: 4vh;
}

.logo-footer {
    width: 70px;
    height: auto;
    border-radius: 100%;
}

.footer-intro {
    max-width: 400px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-intro-container {
    display: flex;
    align-items: center;
    gap: 20px;
    color: ghostwhite;
}

.footer-intro p {
    color: #B0B0B0;
}

.rechten-footer {
    display: flex;
    justify-content: center;
    color: #B0B0B0;
    text-decoration: overline;
}

.footer-contact h1 {
    color: goldenrod;
    font-size: 18px;
}

.footer-contact h2 {
    font-size: 20px;
    color: #B0B0B0;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #2C7344;
    padding: 40px;
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.login-button {
    color: black;
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

/**/

.bestemmingen-start {
    background-color: #2C7344;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 30vh;
}

.bestemmingen-start h1 {
    margin-bottom: 0px;
    font-size: 8vw;
}

.bestemmingen-start p {
    font-size: 2vw;
}

@media screen and (max-width: 600px) {
    .landing-page-image-big {
        display: none;
    }

    .landing-page-image-small {
        display: block;
    }

    .landing-page-introductie {
        margin-top: -20vh;
    }

    .landing-page-introductie h1 {
        font-size: 4vh;
    }

    .landing-page-introductie h2 {
        font-size: 2vh;
    }

    .header-links {
        display: none;
    }

    /**/

    .over-ons-blokje-container {
        flex-direction: column;
        max-width: 90%;
        margin-top: 30px;
    }

    .over-ons-paragraph {
        font-size: 16px;
        max-width: 500px;
    }

    .over-ons-container {
        height: 140vh;
    }

    .populaire-bestemmingen-images-container {
        flex-direction: column;
    }

    .footer-container {
        margin-top: 160vh;
    }
}
.contact-start{
    background-color: #2C7344;
    color: white;
    height: 30vh;
}
.contact-start h1{ 
    font-size:50px; 
    
}