html {
    font-family: "Fjalla One";
}

a {
    color: unset;
    text-decoration: unset;
}

ul {
    list-style-type: none;
}

body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vw;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 100%;
}

.header-links {
    display: flex;
    gap: 4vw;
}